<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="preconnect" href="//fonts.gstatic.com/" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.polyfill.io/v3/polyfill.min.js?features=default"></script>
    <title>Đồ Án</title>
  </head>
  <body>
    <div id="root"></div>
    <script src="index.js" charset="utf-8"></script>
  </body>
</html>